<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <style>
        .firstth{
            width: 100px;
        }

    </style>
</head>
<body>
<video class="hidden" loop="loop" id="alarmmedia">
    <source src="http://fjdx.sc.chinaz.com/files/download/sound1/201410/5051.wav" type="audio/wav">
</video>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand">监控报警系统</a>
        </div>
        <div>
            <p class="navbar-text" id="idBTC">BTC:
                <nobr></nobr>
            </p>
            <p class="navbar-text" id="idLTC">LTC:
                <nobr></nobr>
            </p>
            <p class="navbar-text" id="idETH">ETH:
                <nobr></nobr>
            </p>

            <p class="navbar-text" id="idLTCtoBTC">LTC/BTC:
                <nobr></nobr>
            </p>
            <p class="navbar-text" id="idETHtoBTC">ETH/BTC:
                <nobr></nobr>
            </p>
            <p class="navbar-text" id="idETHtoLTC">ETH/LTC:
                <nobr></nobr>
            </p>
        </div>
        <div class="pull-right">
            <p class="navbar-text" id="timer">
            </p>
        </div>
    </div>
</nav>
<div class="container">
    <button id="idOpenAudio" onclick="openAudio(this)" type="button" class="btn btn-danger">打开警报音</button>
    <button id="idCloseAudio" onclick="closeAudio(this)" type="button" class="btn btn-success hidden">关闭警报音</button>
    <button id="idsaveData" type="button" class="btn btn-default"><a href="{% url 'save_data' %}">下载未下载的数据</a></button>
    <button id="idsaveData" onclick="saveData()" type="button" class="btn btn-default">保存今天的数据</button>
    <div class="alert alert-danger hidden" role="alert">警告：有差值超过指定范围！</div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>btc-e价格</th>
          <th>火币网价格</th>
          <th>差价</th>
          <th>差价报警范围</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="firstth" scope="row">LTC to BTC</th>
          <td id="idLTCtoBTCPrice"></td>
          <td id="idHuobiLTCtoBTCPrice"></td>
          <td id="idLTCtoBTCPriceDifference"></td>
          <td>
              <form class="form-inline">
              <div class="form-group">
                <label>大于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idLTCtoBTCForm1">
              </div>
              <div class="form-group">
                <label>小于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idLTCtoBTCForm2">
              </div>
              </form>
          </td>
        </tr>
        <tr>
          <th  class="firstth" scope="row">EHT to BTC</th>
          <td id="idETHtoBTCPrice"></td>
          <td id="idHuobiETHtoBTCPrice"></td>
          <td id="idETHtoBTCPriceDifference"></td>
           <td>
            <form class="form-inline">
              <div class="form-group">
                <label>大于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idETHtoBTCForm1">
              </div>
              <div class="form-group">
                <label>小于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idETHtoBTCForm2">
              </div>
              </form>
            </td>
        </tr>
        <tr>
          <th  class="firstth" scope="row">EHT to LTC</th>
          <td id="idETHtoLTCPrice"></td>
          <td id="idHuobiETHtoLTCPrice"></td>
          <td id="idETHtoLTCPriceDifference"></td>
           <td>
            <form class="form-inline">
              <div class="form-group">
                <label>大于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idETHtoLTCForm1">
              </div>
              <div class="form-group">
                <label>小于</label>
                <input type="text" oninput="checkAlarm()" class="form-control" id="idETHtoLTCForm2">
              </div>
              </form>
           </td>
        </tr>
      </tbody>
    </table>

</div>


<script src="/static/jQuery/jquery-3.2.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script>
    
    function saveData() {
        // 向后台请求保存当天的数据
        $.ajax({
            url:'save/',

        })
    }
    
    
    
    
    $(function init() {
        alarm = false;
        useralarm = false;
        updata();
        showTime();
        setInterval("updata()", 60000);
        setInterval("saveData()", 60000*60*24);

    });

    function openAudio(ths) {
        useralarm = true;
        $(ths).addClass("hidden");
        $("#idCloseAudio").removeClass("hidden");
        checkAlarm()
    }

    function closeAudio(ths) {
        useralarm = false;
        $(ths).addClass("hidden");
        $("#idOpenAudio").removeClass("hidden");
        checkAlarm()
    }

    function showTime() {
                var curTime = new Date();
                $("#timer").text(curTime.toLocaleString());
                setTimeout("showTime()", 1000);
                 }
    
    function calculation() {
        LTCtoBTCPrice = 1/LTCtoBTC;
        huobiLTCtoBTCPrice = BTC/LTC;
        ETHtoBTCPrice = 1/ETHtoBTC;
        huobiETHtoBTCPrice = BTC/ETH;
        ETHtoLTCPrice = 1/ETHtoLTC;
        huobiETHtoLTCPrice = LTC/ETH;


        $('#idLTCtoBTCPrice').text(LTCtoBTCPrice.toFixed(6));
        $('#idETHtoBTCPrice').text(ETHtoBTCPrice.toFixed(6));
        $('#idETHtoLTCPrice').text(ETHtoLTCPrice.toFixed(6));
        $('#idHuobiLTCtoBTCPrice').text(huobiLTCtoBTCPrice.toFixed(6));
        $('#idHuobiETHtoBTCPrice').text(huobiETHtoBTCPrice.toFixed(6));
        $('#idHuobiETHtoLTCPrice').text(huobiETHtoLTCPrice.toFixed(6));

        LTCtoBTCPriceDifference = (LTCtoBTCPrice-huobiLTCtoBTCPrice).toFixed(6);
        ETHtoBTCPriceDifference = (ETHtoBTCPrice-huobiETHtoBTCPrice).toFixed(6);
        ETHtoLTCPriceDifference = (ETHtoLTCPrice-huobiETHtoLTCPrice).toFixed(6)



        $('#idLTCtoBTCPriceDifference').text(LTCtoBTCPriceDifference);
        $('#idETHtoBTCPriceDifference').text(ETHtoBTCPriceDifference);
        $('#idETHtoLTCPriceDifference').text(ETHtoLTCPriceDifference);

        checkAlarm();
    }

    function updata() {
        $.get({
            url: 'updata/',
            success: function (args) {
                newData = JSON.parse(args);
                btcE = newData.btc_e;
                huobiE = newData.huobi_e;
                LTCtoBTC = btcE.ltc_to_btc;
                ETHtoBTC = btcE.eth_to_btc;
                ETHtoLTC = btcE.eth_to_ltc;
                BTC = huobiE.btc;
                LTC = huobiE.ltc;
                ETH = huobiE.eth;

                $('#idBTC nobr').text(BTC);
                $('#idLTC nobr').text(LTC);
                $('#idETH nobr').text(ETH);
                $('#idETHtoBTC nobr').text(ETHtoBTC);
                $('#idLTCtoBTC nobr').text(LTCtoBTC);
                $('#idETHtoLTC nobr').text(ETHtoLTC);

                calculation();

            }
        })
    }

    function checkAlarm() {
        getAlarmNum();
        conditionA = LTCtoBTCAlarm();
        conditionB = ETHtoBTCAlarm();
        conditionC = ETHtoLTCAlarm();

        if(conditionA || conditionB || conditionC){
            alarm = true
        }else {
            alarm = false
        }


        console.log("自动警报",alarm);
        console.log("手动警报",useralarm);
        if (alarm){
            $(".alert").removeClass("hidden");
            if(useralarm){
                // 用户开启警报声功能
                alarmPlay()
            }else {
                alarmStop()
            }

        }else{
            $(".alert").addClass("hidden");
            alarmStop()

        }
    }
    
    
    function getAlarmNum() {
        // 获得差值警告阈值
        LTCtoBTCAlarmNum1 = Number($("#idLTCtoBTCForm1").val());
        LTCtoBTCAlarmNum2 = Number($("#idLTCtoBTCForm2").val());
        ETHtoBTCAlarmNum1 = Number($("#idETHtoBTCForm1").val());
        ETHtoBTCAlarmNum2 = Number($("#idETHtoBTCForm2").val());
        ETHtoLTCAlarmNum1 = Number($("#idETHtoLTCForm1").val());
        ETHtoLTCAlarmNum2 = Number($("#idETHtoLTCForm2").val());

    }
    
    function LTCtoBTCAlarm() {
        if(LTCtoBTCAlarmNum1 && LTCtoBTCAlarmNum2) {
            if (LTCtoBTCPriceDifference > LTCtoBTCAlarmNum1 || LTCtoBTCPriceDifference < LTCtoBTCAlarmNum2) {
                console.log("警报1");
                return true
            } else {
                return false
            }
        }else {
            return false
        }
    }

    function ETHtoBTCAlarm() {
        if(ETHtoBTCAlarmNum1 && ETHtoBTCAlarmNum2) {
            if (ETHtoBTCPriceDifference > ETHtoBTCAlarmNum1 || ETHtoBTCPriceDifference < ETHtoBTCAlarmNum2) {
                console.log("警报2");
                return true
            } else {
                return false
            }
        }else {
            return false
        }
    }

    function ETHtoLTCAlarm() {
        if(ETHtoLTCAlarmNum1 && ETHtoLTCAlarmNum2) {
            if (ETHtoLTCPriceDifference > ETHtoLTCAlarmNum1 || ETHtoLTCPriceDifference < ETHtoLTCAlarmNum2) {
                console.log("警报3");

                return true
            } else {
                return false
            }
        }else {
            return false
        }
    }


    function alarmPlay() {
        console.log("audioplay");
        var audio = document.getElementById("alarmmedia");
        audio.play()
    }

    function alarmStop() {
        console.log("audiostop");
        var audio = document.getElementById("alarmmedia");
        audio.pause();
        audio.currentTime = 0;
    }


</script>
</body>
</html>